html, body {
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

canvas {
  display: block;
}

.title{
  position: relative;
  left: 25%;
}

.heading{
  width: auto;
  padding: 40px;
  height: 50px;
  background-color: darkkhaki;
  margin-top: 0;
  margin-bottom: 30px;
}

.note{
  font-weight: 350;
  left: 30%;

  width: 450px;
	height: 130px;

  border: 2px;
  border-color: black;
  border-style: solid;

  background-color: rgb(205, 188, 163);


  margin: 30px;
  padding: 20px;

}
