html, body {
  margin: 0;
  padding: 0;
}


#backgroundPic {
  width: 100%;
  height: 100%;
  background-image: url(assets/lockdown.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

.title{
  margin: 0%;
  padding: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  font-size: 65px;
  color:aliceblue;
  font-family: 'Caveat', cursive;
}


.box1{
  height: fit-content;
  width: 50%;
  margin: auto;
  padding: 40px;
  margin-bottom: 60px;
  background-color: rgba(255, 255, 255, 0.562);
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
}

#noteTitle{
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: larger;
  margin-left: 0px;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-family: 'Radio Canada', sans-serif;
  color:black;
  text-align:left;
}

#note{
  margin-left: 0px;
  font-family: 'Caveat', cursive;
  font-family: 'Radio Canada', sans-serif;
  color:black;
  text-align:left;
  margin-bottom: 0px;
}

.box2{
  width:90%;
  height:auto;
  margin:auto;
  margin-bottom: 70px;
  background-color: rgba(255, 255, 255, 0.562);
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
}

.dayButton{
  position: relative;
  text-align: center;
  color: white;
}



 


