html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 9, 17);
}

canvas {
  display: block;
}

.title{
  margin: 0%;
  padding: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  font-size: 65px;
  color:aliceblue;
  font-family: 'Caveat', cursive;
}

.box1{
  height: fit-content;
  width: 50%;
  margin: auto;
  padding: 40px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.562);
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
}

#noteTitle{
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: larger;
  margin-left: 0px;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-family: 'Radio Canada', sans-serif;
  color:black;
  text-align:left;
}

#note{
  margin-left: 0px;
  font-family: 'Caveat', cursive;
  font-family: 'Radio Canada', sans-serif;
  color:black;
  text-align:left;
  margin-bottom: 0px;
}

#canvasContainer1{
  background-color: rgba(240, 248, 255, 0);
  width: 600px;
  height: 600px;
  text-align: center;
  margin: auto;
  padding: 50px;
  position: relative;
}

