html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 9, 17);
}

canvas {
  display: block;
}

.title{
  margin: 0%;
  padding: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  font-size: 65px;
  color:aliceblue;
  font-family: 'Caveat', cursive;
}

.box1{
  height: fit-content;
  width: 50%;
  margin: auto;
  padding: 40px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.562);
  border-style: solid;
  border-width: 0px;
  border-radius: 30px;
}

#noteTitle{
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: larger;
  margin-left: 0px;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-family: 'Radio Canada', sans-serif;
  color:black;
  text-align:left;
}

#note{
  margin-left: 0px;
  font-family: 'Caveat', cursive;
  font-family: 'Radio Canada', sans-serif;
  color:black;
  text-align:left;
  margin-bottom: 0px;
}

#canvasContainer3{
  background-color: rgba(240, 248, 255, 0);
  width: 600px;
  height: 600px;
  
  margin: auto;
  padding: 50px;
  padding-bottom: 30px;
  position: relative;
}

.buttonColumn{
  height: fit-content;
  text-align: center;
  width: 30%;
  margin: auto;
  margin-bottom: 80px;
  margin-top: 0px;
  padding: 0px;
}

.returnButton{
 
  font-family: 'Caveat', cursive;
  font-family: 'Radio Canada', sans-serif;
  border-radius: 50px;
  border: none;
  margin: 0px;
  padding: 20px 30px;

  text-align: center;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  background-color: rgba(255, 255, 255, 0.33);
  color: rgb(255, 255, 255);
}

.credit{
  background-color: rgba(37, 33, 33, 0.562);
  color:rgb(92, 92, 95);
  margin-bottom: 0px;
  width:100%;
  margin: auto;
  padding:5px;
  display: block;
  text-align: center;
  
}

.finalcredit{
  margin-block-start: 0px;
  margin-block-end: 0px;
}